/*
-------------------------
Header and Body
-------------------------
*/

body {
	background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

.header-container {
	display: flex;
	justify-content: center;
}

h1 {
	display: flex;
	align-items: center;
	color: blue;
	text-align: center;
}

.tasks-to-be-completed {
	color: red;
}

.completed-tasks {
	color: #079b00;
}

/*
-------------------------
Data-entry
-------------------------
*/

.data-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-bottom: 40px;
	flex-wrap: wrap;
	background: #293f50;
	color: white;
}

/*
-------------------------
Buttons
-------------------------
*/

.btn-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	margin-bottom: 40px;
	background: #293f50;
}


button {
	font-size: 18px;
	cursor: pointer;
}

button:hover {
	background: #00ffff;
}

/*
-------------------------
Todo list append
-------------------------
*/

.list-display-field {
	display: flex;
	flex-direction: column;
}

.dataList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin-bottom: 10px;
	border: 1px solid black;
}

.priority-append {
	width: 10%;
	color: red;
	border: 1px solid black;
}

.start-date-append {
	width: 10%;
	border: 1px solid black;
	color: #2679ff;
}

.task-append {
	width: 50%;
	border: 1px solid black;
}

.who-append {
	width: 14%;
	border: 1px solid black;
	color: #b237ff;
}

.due-date-append {
	width: 10%
	border: 1px solid black;
	color: #079b00;
}